
@import url(1style.css/components/banner.css);
@import url(1style.css/components/buttons.css);
@import url(1style.css/components/cards.css);
@import url(1style.css/components/container.css);
@import url(1style.css/components/footer.css);

body {
    margin: 0;
    font-family: Open Sans;
  }
  
  h1, h2, h3, h4 {
    font-family: Helvetica, Arial, sans-serif;
  }
  
  a {
    text-decoration: none;
  }
  
  .text-center {
    text-align: center;
  }
  
